<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#numberspaces" aria-controls="numberspaces" role="tab" data-toggle="tab">Numberspaces</a></li>
    <li role="presentation"><a href="#namespaces" aria-controls="namespaces" role="tab" data-toggle="tab">Namespaces</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="numberspaces">
      <table class="table" id="numData">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="namespaces">
      <table class="table" id="nameData">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

</div>

